{% extends "base.html" %}
{% block title %}James' Tools | FAQ{% endblock %}
{% block content %}
<body style="text-align: center;">
<h1 id="home">About</h1>
<details>
    <summary>
      What is this site coded in?
    </summary>
   <p>
    Python and Flask framework 💛!
  </p>
</details>
<details>
  <summary>
    Is the password generator secure?
  </summary>
  <p>
    Yes! This website has no databases and your password is 100% secure. The generated password is also client side only so you're the only person who will ever see the password
  </p>
</details>
{% endblock %}
</body>