{% extends "base.html" %}
{% block title %}James' Tools | Home{% endblock %}
{% block content %}
<body>

<div class="main">
    <div class="mainbox">
        <div class="maintextback">
            <h1 class="maintext">James' Tools</h1>
        </div>
        <p>Useful tools, best part is they're all secure!</p>
        <p>Anything generated is completely client side</p>
        <p>See FAQ for more info</p>
    </div>
    <div class="mainbox">
        <img class="mainimage" src="/images/box.png" alt="">
    </div>
</div>

</body>
{% endblock %}