{% extends "base.html" %}
{% block title %}James' Tools | Password Generator{% endblock %}
{% block content %}
<body style="text-align: center;">
  <div class="contentmain">
    <div class="background">
        <h1>Please select your options</h1>
    </div>

    <div class="background2"> 
      <form action="" method="POST">
      <input type="checkbox" name="numbers" checked="checked">
      <label>Numbers</label><br>

      <input type="checkbox" name="special" checked="checked">
      <label>Special Characters</label><br>

      <p>Select length of password</p>
      <input type="range" value="14" min="4" max="14" oninput="this.nextElementSibling.value = this.value" name="lenslider">
      <output name="output">14</output><br><br>
      <input class="inputbutton" type="submit" value="Generate">
      </form>
      <p> {{ password }} </p>
      <!--
      {% if numbers == True and specials == True %}
      <div class="progress" style="width: 30%; text-align: center; display: block; margin-left: auto; margin-right: auto;">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width:100%">Password strength</div>
        </div><br>
      {% elif numbers == True or specials == True %}
      <div class="progress" style="width: 30%; text-align: center; display: block; margin-left: auto; margin-right: auto;">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" style="width:50%;">Password strength</div>
        </div><br>
      {% elif numbers == False and specials == False %}
      <div class="progress" style="width: 30%; text-align: center; display: block; margin-left: auto; margin-right: auto;">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width:10%;">Password strength</div>
        </div><br>
  </div>
  -->

</body>
{% endif %}
{% endblock %}