{% extends "base.html" %}
{% block title %}James' Tools | Guess The Number{% endblock %}
{% block content %}
<body>
    <div class="contentmain">
        <div class="background">
            <h1>Rock Paper Scissors</h1>
        </div>
            <div class="background2">
                <form action="" method="POST">
                    <input type="submit" value="Rock" name="rock" class="inputbutton">
                    <input type="submit" value="Paper" name="paper" class="inputbutton">
                    <input type="submit" value="Scissors" name="scissors" class="inputbutton">
                </form>
                <p>{{ rps_result }}</p>
            </div>
        </div>
    </div>
</body>
{% endblock %}